<div id="bio-toc">
  <div class="bio-content">
    <h2>About Me</h2>

    <p>
      I am currently a <strong>PhD candidate in Philology, Italian Literature and Linguistics</strong> at the
      <a href="https://www.unifi.it/en">University of Florence</a>. I am working at the
      <a href="https://www.letterefilosofia.unifi.it/vp-309-lablita.html">Lablita</a> (<strong>Lab</strong>oratorio di
      <strong>l</strong>inguistica <strong>ita</strong>liana), led by
      <a href="https://cercachi.unifi.it/p-doc2-2018-200007-P-3f2b3429352e28-0.html">Alessandro Panunzi</a>.
    </p>

    <h2>Research Interests</h2>
    <ul>
      <li>
        <strong>Computational pragmatics and semantics</strong>: how Large Language Models (LLMs) detect and use
        pragmatic features such as irony and implicit content, and how they retrieve relevant lexical and contextual
        information.
      </li>

      <li>
        <strong>Automatic generation and simplification of technical language</strong>: tools and models designed to
        improve the clarity and accessibility of professional, bureaucratic, and legal texts.
      </li>

      <li>
        <strong>Cognition and philosophy of semantics</strong>: theoretical and empirical investigations into how
        speakers acquire, represent, and adapt meaning in context, and how this relates to cognitive and philosophical
        models of language use.
      </li>
    </ul>
  </div>
</div>

yeah
