<div id="news-box">
  <div class="news-content">
    <h2>News</h2>
    <ul class="news-list">
      <li class="news-item">
        <span class="news-date">June 2025</span>
        <p>
          <ul>
            <li>
              Excited to be visiting the
              <a href="https://mainlp.github.io/"
              >MaiNLP lab</a> in Munich :de: for the next
              two months to work on automatic evaluation of implicit content explanations!
            </li>
          </ul>
          <ul>
            <li>
              Gratefull to be once again part of the organizing commitee of
              <a href="https://sites.google.com/unifi.it/flui/home-page?authuser=0"
              >FLUI</a> for its 2nd edition!
            </li>
          </ul>
        </p>
      </li>
      <li class="news-item">
        <span class="news-date">May 2025</span>
        <p>
          <ul>
            <li>
              Thrilled to be visiting the
              <a href="https://www.uam.es/uam/inicio"> Universidad Autónoma de Madrid (UAM)</a> :es: as a guest PhD
              student of Prof.
              <a href="https://www.uam.es/fyl/facultad/departamentos/linguistica-general-lenguas-modernas-logica-y-filosofia-de-la-ciencia-teoria-de-la-literatura/manuel-alcantara-pla"
                >Manuel Alcántara Plá</a
              >
              for the whole month of May. I will be also giving a lecture on how LLMs deal with some NLU tasks at the
              <a href="https://www.masterlenguajeia.es/">Lenguaje e Inteligencia artificial</a> Master!
            </li>
            <li>
              Proud to share that the paper Alessandro Panunzi,
              <a href="https://sandropezzelle.github.io/">Sandro Pezzelle</a> and I wrote has been
              <strong>accepted</strong> at the <strong><a href="https://2025.aclweb.org/">ACL 2025 Findings</a></strong
              >. You'll find me in Vienna :austria: presenting our poster, come say hi!
            </li>
          </ul>
        </p>
      </li>
      <li class="news-item">
        <span class="news-date">January 2025</span>
        <p>
          <ul>
            <li>
              Exciting news! Valentina Saccone and I had our ongoing work on irony accepted at
              <a href="https://sites.google.com/view/humans-machines-language/events/2025-conference?fbclid=IwY2xjawK44CBleHRuA2FlbQIxMQBicmlkETFlZ2xiSjlKaGZzeDduVmgwAR4G2IsJKp-g-6Kh4VuMl8H84VNqz5y3_loUy0ZyTO8hKhCoy8gL5nZoQ1xfWg_aem_r1kVC9v5UL3uwq5XkL2OVw#h.rzr058wfe39v"
                >HuMaLa</a
              >. See you in Granada next June! :es:
            </li>
          </ul>
        </p>
      </li>
      <li class="news-item">
        <span class="news-date">February 2025</span>
        <p>
          <ul>
            <li>
              Valentina Saccone and I are going to present at the
              <a href="https://www.letterefilosofia.unifi.it/art-1267-16-17-gennaio-2025.html?fbclid=IwY2xjawK480NleHRuA2FlbQIxMABicmlkETFlZ2xiSjlKaGZzeDduVmgwAR4jAg5W4V1G7W8fRrlKznFAtjefL8pZfJ0WHBSBvW0qZfJQV8j1AMF-l8g9rA_aem_39tBQLKmHpOGFsGekFbbtw"
                >Conversazioni del GSCP</a
              > workshop a premilinary study on (Human and) LLMs capabilities of understanding and explaining irony in political discourse. Waiting you in Florence! :it:
            </li>
          </ul>
        </p>
      </li>
      <li class="news-item">
        <span class="news-date">October 2024</span>
        <p>
          <ul>
            <li>
              Really proud of the 🏅 4th place 🏅 the AI-Logos team has achieved at
              <a href=""
              >UniFI: Impresa Campus</a
              >. Thanks to
              <a href="https://www.linkedin.com/in/daniele-fusillo-18080319a/"
              >Daniele Fusillo</a>
              ,
              <a href="https://www.linkedin.com/in/claudia-gigliotti-84a912249/"
              >Claudia Gigliotti<a>
               and
              <a href="https://www.linkedin.com/in/ilaria-m-978623270/"
              >Ilaria Manfredi</a>
              for this wonderful experience
              together!
            </li>
          </ul>
        </p>
      </li>
      <li class="news-item">
        <span class="news-date">September 2024</span>
        <p>
          <ul>
            <li>
              Honored to be working fot the next 3 months with Prof.
              <a href="https://sandropezzelle.github.io/"
              >Sandro Pezzelle</a> and the
              <a href="https://dmg-illc.github.io/dmg/"
              >Dialogue Modelling Group (DMG)</a> at the
              <a href="https://www.illc.uva.nl/"
              >Institute of Logic, Language and Computation (ILLC)</a> in Amsterdam. 🚲
              :netherlands:
            </li>
          </ul>
        </p>
        <li class="news-item">
        <span class="news-date">June 2024</span>
        <p>
          <ul>
            <li>
              Proud to be part of the organizing committee and chairs of the 1st
              <a href="https://sites.google.com/unifi.it/flui/home-page?authuser=0"
              >Filologia, Linguistica, Umanistica digitale e Italianistica (FLUI)</a> phD conference of the University of Florence. See you at the next edition! :wave:
            </li>
          </ul>
        </p>
        <li class="news-item">
        <span class="news-date">May 2024</span>
        <p>
          <ul>
            <li>
              Thrilled to announce that my work LLMs implicit content understanding in Italian Political discourse has been accepted at
              <a href="https://tu-dresden.de/gsw/slk/romanistik/das-institut/Chairs/prof-dr-anna-maria-de-cesare-greenwald/ai-rom-ii-conference-2024"
              >AI-ROM</a> II edition. Can't wait to see the Elba at night! :de:
            </li>
          </ul>
        </p>
        <li class="news-item">
        <span class="news-date">April 2024</span>
        <p>
          <ul>
            <li>
              It was great to give a talk on Prompt Engineering and LLMs and connect with Master's student of Digital Humanities at the
              <a href="https://www.unipi.it/"
              >University of Pisa</a>! Thanks to Prof.
              <a href="https://scholar.google.com/citations?user=k-uhOjEAAAAJ&hl=it&oi=ao"
              >Mirko Tavosanis</a> for inviting me! :microphone:
            </li>
          </ul>
        </p>
        <li class="news-item">
        <span class="news-date">February 2024</span>
        <p>
          <ul>
            <li>
              Great news! <a href="https://www.linkedin.com/in/claudia-gigliotti-84a912249/"
              >Claudia Gigliotti<a> and I have been invited to present our work at
              <a href="https://verbacxss.it/conferences/unimol-conference-2024"
              >Amministrazione attiva: semplicità e chiarezza per la comunicazione amministrativa</a>! We will talk about the complexities of deploying and evaluating LLMs to automatically simplify hypertechnical texts in the legal and administrative domain. See you at
              <a href="https://www3.unimol.it/"
              >UniMol</a>. :it:
            </li>
          </ul>
        </p>
        <li class="news-item">
        <span class="news-date">January 2024</span>
        <p>
          <ul>
            <li>
              I am exhited to announce that my ongoing work on investigating LLMs ability to detect and classify implicit content has been accepted at the 3rd edition of
              <a href="https://unimplicit2024.github.io/"
              >UnImplicit</a>! See you at
              <a href="https://2024.eacl.org/"
              >EACL2024</a>in Malta. :malta:
            </li>
          </ul>
        </p>
        <li class="news-item">
        <span class="news-date">December 2023</span>
        <p>
          <ul>
            <li>
              It was great to participate at the Ninth edition of
              <a href="https://clic2023.ilc.cnr.it/"
              >CliC-it</a>. So many intresting papers to be inspired by!
            </li>
          </ul>
        </p>
        <li class="news-item">
        <span class="news-date">July 2023</span>
        <p>
          <ul>
            <li>
              Attending the
              <a href="https://2023.esslli.eu//"
              >European Summer School in Logic, Language and Information (ESSLLI)</a> has been fantastic. A great way to boost my phD research! :dragon:
            </li>
          </ul>
        </p>
        <li class="news-item">
        <span class="news-date">June 2023</span>
        <p>
          <ul>
            <li>
              Proud to be chair at the
              <a href=""
              >Linguistica e Umanistica Digitale</a> phD conference in Florence. :it: See you in front of the Duomo! ⛪
            </li>
          </ul>
        </p>
        <li class="news-item">
        <span class="news-date">May 2023</span>
        <p>
          <ul>
            <li>
              The
              <a href="https://www.ai-lc.it/en/lectures-2/lectures-2023/"
              >Lectures on Computational Linguistics</a> have been a great experience. Thanks to all the speakers!
            </li>
             <li>
              Thrilled to announce that my work on automatic text simplification of bureaucratic texts through ChatGPT has been <b>accepted</b> at the
              <a href="https://tu-dresden.de/gsw/slk/romanistik/das-institut/Chairs/prof-dr-anna-maria-de-cesare-greenwald/ai-rom-conference-2023"
              >Automated texts In the ROMance languages (AI-ROM)</a>. Can't wait to be in Dresden! :de:
            </li>
          </ul>
        </p>
        <li class="news-item">
        <span class="news-date">December 2022</span>
        <p>
          <ul>
            <li>
              Happy to share my great experience during the conference of the
              <a href="https://aixia2022.uniud.it/"
              >Conference of the Italian Assosiciation for Artificial Intelligence</a> at the
              <a href=https://www.uniud.it/it
              >Univeristy of Udine</a>. :smile:
            </li>
          </ul>
        </p>
        <li class="news-item">
        <span class="news-date">November 2022</span>
        <p>
          <ul>
            <li>
              Starting my <b>phD course</b> in
              <a href="https://www.dottoratofilletlin.unifi.it/"
              >Philology, Italian Literature and Linguistics</a>, <b>Digital Humanities</b> Curriculum at the
              <a href="https://www.unifi.it/"
              >University of Florence</a>.
            </li>
          </ul>
        </p>
        <li class="news-item">
        <span class="news-date">May 2022</span>
        <p>
          <ul>
            <li>
              Graduated 🎓 with honors in <b>Logic, Philosofy and History of Science</b> at
              <a href="https://www.unifi.it/"
              >University of Florence</a>. ✌️
            </li>
          </ul>
        </p>
  </div>
</div>
