<div id="news-box">
  <div class="news-content">
    <h2>News</h2>
    <ul class="news-list">
      <li class="news-item">
        <span class="news-date">June 2025</span>
        <p>
          Excited to share that I will be visiting the <a href="https://mainlp.github.io/">MaiNLP lab</a> in Munich
          :flag_germany: for the next two months to work on automatic implicit content evaluation!
        </p>
      </li>
      <li class="news-item">
        <span class="news-date">May 2025</span>
        <p>
          Proud to share that the paper Alessandro Panunzi, <a href="">Sandro Pezzelle</a> and I wrote has been
          <strong>accepted</strong> to the <strong><a href="https://2025.aclweb.org/">ACL 2025 Findings</a></strong
          >. You'll find me in Vienna &#x1F1E6;&#x1F1F9; presenting our poster, come say hi!
        </p>
      </li>
    </ul>
  </div>
</div>
